/* Naming grid areas */
#desc{
    grid-area: desc;
}
#date{
    grid-area: date;
}
#buttons{
    grid-area: buttons;
}

*{
    margin: 0;
    padding: 0;
}

/* Container CSS */
.private-todo-container{
    height: 100%;
    width: 100%;
    margin-top: 0;
}

/* Styling input section */
form{
    height: 25%;
    display: grid;
    width: auto;
    grid-template-areas:  'desc desc desc desc date'
                          'buttons buttons buttons buttons buttons' ;
}
form>div{
    padding: 3px;
    border: 1px solid rgb(210, 208, 208);
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bolder;
}
.decor{
    border: none;
    outline-width: 0;
    font-size: 1.1rem;
}
/* Changing input placeholder color */
input{
    height: 54px;
    margin-bottom: -25px;
}
input::placeholder{
    color: rgb(177, 177, 177);
}

#duedate:hover{
    cursor: pointer;
}


/* Styling buttons container and buttons */
#buttons{
    /* background-color: aqua; */
    /* height: 15%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0.3rem;
    margin: 0.3rem 1rem;
    width: 20%;
    font-size: 1.2rem;
    border-radius: 5px;
}

#add{
    background-color: rgb(40, 31, 31);
    color: white;
}

#delete{
    color: white;
    background-color: red;
    border: none;
}

#delete > a{
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
}
#buttons button:hover{
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

.showTasksContainer
{
    margin-left: 25px;
    margin-top: 10px;
}

.form-check-input{
    margin-left: 10px;
}

hr{
    margin:0.3rem 0;
}

