<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />
<!-- MDB -->
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="/js/home.js"></script>

<div class="container">
    <div class="todo-list-container">
        <div class="todo-list-navbar">
            <h3 class="private-todo-button">Project</h3>
            <h3 class="project-todo-button">Personal</h3>
        </div>
        <div class="todo-list-content">
            <div class="private-todo-content">
                <%- include('privateToDo') -%>
            </div>
            <div class="project-todo-content">
                <%- include('projectToDo') -%>
            </div>
        </div>
    </div>
    <div class="messages-container">
        <h2>MESSAGES</h2>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>

<!--Main layout-->