<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>  -->
    <!-- for jquery -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- <script src="https://kit.fontawesome.com/569528aa2d.js" crossorigin="anonymous"></script> -->
    <%- style %>
</head>

<body>

        <main id="layout-main">
            <%- body %>
        </main>
            <%- script %>
</body>

</html>

<!-- <script src="/js/home.js"></script -->