<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/569528aa2d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/todoHome.css">
    <!-- <link rel="stylesheet" href="/css/display.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="container">
        <header>
            <h1> <i class="fas fa-list-check" style="color: wheat;"></i> ToDo App</h1>
        </header>
        <form action="/create_Task" method="post">
            <div id="desc">
                <label for="description">DESCRIPTION</label>
                <input class="decor" type="text" name="description" required placeholder="What do you need to do?">
            </div>

            <div id="date">
                <label for="date">DUE DATE</label>
                <input class="decor" type="date" name="dueDate" id="dueDate" required>
            </div>

            <div id="buttons">
                <button id="add" type="submit">
                    <i class="fas fa-plus"></i>
                    <!-- <a href="/add" style="color: white ; text-decoration: none">ADD TASK</a> -->
                    ADD TASK
                </button>
                <button id="delete">
                    <a href="/delete_Tasks">
                        <i class="fas fa-trash-can"></i>
                        DELETE TASKS
                    </a>
                </button>

            </div>
        </form>

        <div id="display">
            <!-- <% for(let i of tasks) {%>
                <div class="info">
                    <input type="checkbox" name="toDelete" id="toDelete" value="<%=i._id%>">
                    <p id="para"><%=i.description%></p>
                    <br>
                    <i class="fas fa-calender-check"></i>
                    <p><%=i.date%></p>
                    <% if(i.purpose != 'Other') %>
                        <button disabled><%=i.purpose%></button>
                </div>
            <%}%> -->
        </div>
    </div>
</body>

</html>